@include 'variables'

/**
 * @license
 * MyFonts Webfont Build ID 3183188, 2016-03-08T09:57:56-0500
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: TTSouses-Bold by TypeType
 * URL: http://www.myfonts.com/fonts/type-type/tt-souses/bold/
 *
 * Webfont: TTSouses-Light by TypeType
 * URL: http://www.myfonts.com/fonts/type-type/tt-souses/light/
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3183188
 * Licensed pageviews: 10,000
 * Webfonts copyright: Copyright (c) 2014 by Typetype. Designer Ivan Gladkikh, technical designers Elena Podushka, Olexa Volochay, Nadyr Rakhimov. All rights reserved.
 *
 * © 2016 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/309254");
@font-face {font-family: 'TTSouses';font-weight: bold;font-style: normal;src: url('../../assets/fonts/309254_0_0.eot');src: url('../../assets/fonts/309254_0_0.eot?#iefix') format('embedded-opentype'),url('../../assets/fonts/309254_0_0.woff2') format('woff2'),url('../../assets/fonts/309254_0_0.woff') format('woff'),url('../../assets/fonts/309254_0_0.ttf') format('truetype'),url('../../assets/fonts/309254_0_0.svg#wf') format('svg');}
@font-face {font-family: 'TTSouses';font-weight: normal;font-style: normal;src: url('../../assets/fonts/309254_1_0.eot');src: url('../../assets/fonts/309254_1_0.eot?#iefix') format('embedded-opentype'),url('../../assets/fonts/309254_1_0.woff2') format('woff2'),url('../../assets/fonts/309254_1_0.woff') format('woff'),url('../../assets/fonts/309254_1_0.ttf') format('truetype'),url('../../assets/fonts/309254_1_0.svg#wf') format('svg');}

html, body
  font-family "TTSouses", Helvetica, Arial, sans-serif
  color $baseColor

p
  font-size 20px
  line-height 1.6

h1
  font-size 60px
  line-height 1.15
